*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;
    
}
.main-header{
    background-color: #FFF8F3;
    
    align-items: center;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 600px;
    padding: 20px 20px 0px 200px;

    

}
.mary-menu{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;

}
.mary-menu a{
    text-decoration: none;
    text-transform: uppercase;
    margin: 3px;
    color: gray;
}
.mary-title{
    font-size: 36px;
    text-transform: capitalize;

}
.mary-button{
    margin: 6px;
    background-color: orange;
    color: white;
    border: none;
    padding: 12px 29px 12px 29px;


}
.maryex{
    color: orange;
}

.bannar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    

}
.bannar-text{
    max-width: 555px;
    width: auto;
}
.bannar-img{
    width: 400px;
}

.bannar-text h1{
    font-size: 66px;
    line-height: 75px;

}
.bannar-text p{
    font-size: 18px;
    line-height: 30px;
}
.bannar-text button{
    margin: 6px;
    background-color: orange;
    color: white;
    border: none;
    padding: 12px 29px 12px 29px;
}
/* bannar section end */
/* about section start */
.main-about{
    background: #FFF8F3;
    margin-top: 70px;
    text-align: center;
    padding: 30px;
    max-width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    

}
.about{
    padding-bottom: 20px;
    text-transform: capitalize;
    padding: 70px;
}
.about-details{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.about-details h4{
    font-size: 15px;
    margin-left: 16px;
}
.about-details h5{
    font-size: 14px;
    text-transform: capitalize;
    line-height: 22px;
}
.about h2{
    line-height: 55px;
    font-size: 33px;
}
/* about section end  */
/* what i do  section start */
.whatido{
    max-width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 77px;
}
.whatido h3{
    text-transform: capitalize;
    line-height: 55px;
}

.whatBox{
    display: flex;
    margin-top: 77px;
    margin-right: 15px;
}
.whatinner{
    margin-left: 60px;
    padding: 33px;
    background-color: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.whatinner h3{
    line-height: 44px;
}


.education{
    display: flex;
    padding: 33px;
}
.education-titel {
    padding: 33px;

    padding: 33px;

}
.education-border{
    border-bottom: 1px solid;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 19px 0;

}
.education-top h4{
    text-align: center;
    padding: 19px ;
    text-transform: capitalize;
    font-size: 30px;
}
.education-titel h2{
    line-height: 44px;
    font-size: 20px;
}
.education-titel h3{
    font-size: 14px;

}
.education-titel p{
    
}
.education-titel small{

}

.downloadCV button{
    text-align: center;
    margin: 6px;
    background-color: orange;
    color: white;
    border: none;
    padding: 12px 29px 12px 29px;
}
.downloadCV{
    display: flex;
    justify-content: center;
}
.contact{
    display: flex;
    background: #FFF8F3;
}
.contact-title{
    width: 50%;
    padding: 40px;
}
.constat-form{ 
    width: 50%;
    padding: 40px;
}
.submit{
    text-align: center;
    margin: 6px;
    background-color: orange;
    color: white;
    border: none;
    padding: 12px 29px 12px 29px;

}
.input-style{
    border: none;
    width: 100%;
    padding: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer{
    text-align: center;
    padding: 55px ;
    background: gray;
}